.bg-pink {
    background-color: #ff1659 !important;
}
.text-pink {
    color: #ff1659 !important;
}
.bg-red {
    background-color: #da1f3c !important;
}
.card-active {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important
}
.card-active:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important
}